.head{
    background:linear-gradient(135deg, #56b4b7, #43798b);
    display: flex;
    position: fixed;
    border-radius: 30px;
}
.head h1{
    font-weight: 40px;
    color:#ffff;
    font-weight: 900;
    padding: 0 0 0 40px;
    text-shadow: 5px 5px 5px grey;font-size: 42px;
}
.head img{
    width: 5%;
    height: 5%;
    padding: 0 0 0 50px;
    margin-top: auto;
    margin-bottom: auto;
}
.one{
    background:linear-gradient( #306b6d, #000000)

}
.one h1{
    padding: 300px 0 0 0 ;
    text-align: center;
    font-size: 50px;
    color: #fff;
}
.one h2 {
    padding:  0 0 180px 0 ;
    text-align: center;
    font-size: 30px;
    color:#c5fafc;
}
.one h3{
    text-align: center;
    font-size: 30px;
    color:#c5fafc;
    padding: 0 0 10px 0;
}
.tow{
    padding: 20px 0 0 30px ;
    background:linear-gradient( #ddfeff, #92e2ff)
}
.tow h2{
    color: #6d3030;
    font-size: 30px;
}
.tow h3{
    font-size: 28px;
}
.tow table{
    font-size: 30px;
}
.three{
    background:linear-gradient( #fcffdd, #f8ff92)
    
}
.three h3 {
    font-size: 30px;
    text-align: center;
}
.three h1 {
    font-size: 50px;
    text-align: center;
}
.three h2{
    color: #6d3030;
    font-size: 30px;
    text-align: center;
}
.last h2{
    color: #fff;
    font-size: 25px;
    text-align: center;

    padding: 5px 0 20px 0;
}
.last h4{
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 20px 0 0 0;
}
.last{
        background:linear-gradient( #2f5762, #0a1218);
}